<?xml version='1.0' encoding='UTF-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="kr240r2900_2_gripper" params="prefix">

    <link name="${prefix}gripper_link"> 
      <collision>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/collision/greifer_gruppe1.stl" scale="1 1 1"/> 
        </geometry>
      </collision>
      <inertial>
        <inertia ixx="446180.288E-6" ixy="175.903E-6" ixz="155.082E-6" iyy="291655.466E-6" iyz="-37.685E-6" izz="248166.023E-6"/>
        <mass value="18.445"/>
        <origin rpy="0 0 0" xyz="0.031E-3 -0.103E-3 164.198E-3"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/visual/greifer_gruppe1.dae" scale="1 1 1"/>
        </geometry>
      </visual>
    </link>

    <link name="${prefix}finger_link1">
      <collision>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/collision/greifer_finger1_02_100.stl" scale="1 1 1"/>
        </geometry>
        <surface>

          <!-- <friction>
            <ode>
              <mu>0.15</mu>
              <mu2>0.15</mu2>
              <fdir1>0 0 0</fdir1>
              <slip1>0</slip1>
              <slip2>0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
              <max_vel>0.01</max_vel>
              <min_depth>0</min_depth>
            </ode>
          </contact> 


         <friction>
            <bullet>
              <friction>0.15</friction>
              <friction2>0.15</friction2>
              <fdir1>0 0 0</fdir1>
            </bullet>
          </friction>
          <contact>        
            <bullet>
              <split_impulse>true</split_impulse>
              <split_impulse_penetration_threshold>-0.02</split_impulse_penetration_threshold>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+5</kp>
              <kd>1</kd>
            </bullet>
          </contact>  -->

        </surface>
        <origin rpy="1.571 1.571 1.571" xyz="0.0543 -0.4006 0.1873"/>
      </collision>
      <inertial>
        <inertia ixx="27.502E-6" ixy="0.0" ixz="0.0" iyy="27.502E-6" iyz="0.0" izz="1.581E-6"/>
        <mass value="51E-3"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/visual/greifer_finger1_02_100.dae" scale="1 1 1"/>
        </geometry>
        <!-- <material name="light_gray">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material> -->
        <origin rpy="1.571 1.571 1.571" xyz="0.0543 -0.4006 0.1873"/>
      </visual>
    </link>

    <link name="${prefix}finger_link2">
      <collision>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/collision/greifer_finger1_01_100.stl" scale="1 1 1"/> 
        </geometry>
        <surface>

          <!-- <friction>
            <ode>
              <mu>0.15</mu>
              <mu2>0.15</mu2>
              <fdir1>0 0 0</fdir1>
              <slip1>0</slip1>
              <slip2>0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
              <max_vel>0.01</max_vel>
              <min_depth>0</min_depth>
            </ode>
          </contact> -->

          <!-- <friction>
            <bullet>
              <friction>0.15</friction>
              <friction2>0.15</friction2>
              <fdir1>0 0 0</fdir1>
            </bullet>
          </friction>
          <contact>        
            <bullet>
              <split_impulse>true</split_impulse>
              <split_impulse_penetration_threshold>-0.02</split_impulse_penetration_threshold>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+5</kp>
              <kd>1</kd>
            </bullet>
          </contact>  -->

        </surface>
        <origin rpy="1.571 1.571 1.571" xyz="-0.0543 -0.4006 0.1873"/>
      </collision>
      <inertial>
        <inertia ixx="27.502E-6" ixy="0.0" ixz="0.0" iyy="27.502E-6" iyz="0.0" izz="1.581E-6"/>
        <mass value="51E-3"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/visual/greifer_finger1_01_100.dae" scale="1 1 1"/>
        </geometry>
        <!-- <material name="light_gray">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material> -->
        <origin rpy="1.571 1.571 1.571" xyz="-0.0543 -0.4006 0.1873"/>
      </visual>
    </link>

    <link name="${prefix}finger_link3">
      <collision>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/collision/greifer_finger1_02_100.stl" scale="1 1 1"/> 
        </geometry>
        <surface>

          <!-- <friction>
            <ode>
              <mu>0.15</mu>
              <mu2>0.15</mu2>
              <fdir1>0 0 0</fdir1>
              <slip1>0</slip1>
              <slip2>0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
              <max_vel>0.01</max_vel>
              <min_depth>0</min_depth>
            </ode>
          </contact> -->

          <!-- <friction>
            <bullet>
              <friction>0.15</friction>
              <friction2>0.15</friction2>
              <fdir1>0 0 0</fdir1>
              <rolling_friction>0</rolling_friction>
            </bullet>
          </friction>
          <contact>        
            <bullet>
              <split_impulse>true</split_impulse>
              <split_impulse_penetration_threshold>-0.02</split_impulse_penetration_threshold>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+5</kp>
              <kd>1</kd>
            </bullet>
          </contact>  --> 

        </surface>
        <origin rpy="1.571 1.571 1.571" xyz="0.0543 -0.4006 -0.1873"/>
      </collision>
      <inertial>
        <inertia ixx="27.502E-6" ixy="0.0" ixz="0.0" iyy="27.502E-6" iyz="0.0" izz="1.581E-6"/>
        <mass value="51E-3"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/visual/greifer_finger1_02_100.dae" scale="1 1 1"/>
        </geometry>
        <!-- <material name="light_gray">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material> -->
        <origin rpy="1.571 1.571 1.571" xyz="0.0543 -0.4006 -0.1873"/>
      </visual>
    </link>

    <link name="${prefix}finger_link4">
      <collision>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/collision/greifer_finger1_01_100.stl" scale="1 1 1"/> 
        </geometry>
        <surface>

          <!-- <friction>
            <ode>
              <mu>0.15</mu>
              <mu2>0.15</mu2>
              <fdir1>0 0 0</fdir1>
              <slip1>0</slip1>
              <slip2>0</slip2>
            </ode>
          </friction>
          <contact>
            <ode>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+13</kp>
              <kd>1</kd>
              <max_vel>0.01</max_vel>
              <min_depth>0</min_depth>
            </ode>
          </contact> -->

          <!-- <friction>
            <bullet>
              <friction>0.15</friction>
              <friction2>0.15</friction2>
              <fdir1>0 0 0</fdir1>
              <rolling_friction>0</rolling_friction>
            </bullet>
          </friction>
          <contact>        
            <bullet>
              <split_impulse>true</split_impulse>
              <split_impulse_penetration_threshold>-0.02</split_impulse_penetration_threshold>
              <soft_cfm>0</soft_cfm>
              <soft_erp>0.2</soft_erp>
              <kp>1e+5</kp>
              <kd>1</kd>
            </bullet>
          </contact>  -->

        </surface>
        <origin rpy="1.571 1.571 1.571" xyz="-0.0543 -0.4006 -0.1873"/>
      </collision>
      <inertial>
        <inertia ixx="27.502E-6" ixy="0.0" ixz="0.0" iyy="27.502E-6" iyz="0.0" izz="1.581E-6"/>
        <mass value="51E-3"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="file://$(find eis_description)/meshes/kr240r2900_2/visual/greifer_finger1_01_100.dae" scale="1 1 1"/>
        </geometry>
        <!-- <material name="light_gray">
          <color rgba="0.8 0.8 0.8 1.0"/>
        </material> -->
        <origin rpy="1.571 1.571 1.571" xyz="-0.0543 -0.4006 -0.1873"/>
      </visual>
    </link>

    <joint name="${prefix}finger_joint" type="prismatic">
      <axis xyz="1.0 0.0 0.0"/>
      <child link="${prefix}finger_link1"/>
      <limit effort="811.25" lower="-0.2" upper="0.2" velocity="0.2"/>
      <parent link="${prefix}gripper_link"/>
    </joint>
    <joint name="${prefix}finger_joint2" type="prismatic">
      <axis xyz="1.0 0.0 0.0"/>
      <child link="${prefix}finger_link2"/>
      <limit effort="811.25" lower="-0.2" upper="0.2" velocity="0.2"/>
      <parent link="${prefix}gripper_link"/>
      <mimic joint="${prefix}finger_joint" multiplier="-1.0"/>
    </joint>
    <joint name="${prefix}finger_joint3" type="prismatic">
      <axis xyz="1.0 0.0 0.0"/>
      <child link="${prefix}finger_link3"/>
      <limit effort="811.25" lower="-0.2" upper="0.2" velocity="0.2"/>
      <parent link="${prefix}gripper_link"/>
      <mimic joint="${prefix}finger_joint" multiplier="1.0"/>
    </joint>
    <joint name="${prefix}finger_joint4" type="prismatic">
      <axis xyz="1.0 0.0 0.0"/>
      <child link="${prefix}finger_link4"/>
      <limit effort="811.25" lower="-0.2" upper="0.2" velocity="0.2"/>
      <parent link="${prefix}gripper_link"/>
      <mimic joint="${prefix}finger_joint" multiplier="-1.0"/>
    </joint>

  </xacro:macro>
</robot>
