<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="kr2400r2900_control" params="prefix">
    <ros2_control name="GazeboSystem" type="system">
      <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="agv_pris_x_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="agv_pris_y_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="agv_rev_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="omnibase_pris_x_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="omnibase_pris_y_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="omnibase_rev_joint">
          <command_interface name="position"/>
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">-1.5708</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">1.5708</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}joint_6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <!-- <joint name="${prefix}endeffector_plug_joint_1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${prefix}endeffector_plug_joint_2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint> -->
    </ros2_control>
  </xacro:macro>
</robot>
