[submodule "colcon_ws/src/moveit2"]
	path = colcon_ws/src/moveit2
	url = https://github.com/moveit/moveit2.git
	branch = humble
[submodule "colcon_ws/src/moveit_task_constructor"]
	path = colcon_ws/src/moveit_task_constructor
	url = https://github.com/moveit/moveit_task_constructor.git
	branch = humble
