<?xml version="1.0" ?>
<robot name="kuka_with_omnimove" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find kr240_r2900_2)/urdf/kr240_r2900_2.urdf.xacro"/>
  <xacro:include filename="$(find kuka_omnimove_e575_support)/urdf/omnimove.xacro"/>
  <xacro:omnimove prefix="omnimove_"/>
  <xacro:omnimove_ros2_control name="omnimove"/>
  <!-- attach the arm's 'world' to the omnimove base -->
  <joint name="omni_to_world" type="fixed">
    <parent link="omnimove_base"/>
    <child link="world"/>
    <origin xyz="0 1 0" rpy="0 0 0"/>
  </joint>
</robot>